@import 'bootstrap.min.css';

body {
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.65;
    background-color: #f4f9ff;
}
@media (min-width: 992px) {
    body {
        font-size: 17px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1170px;
    }
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    height: 470px;
}
.carousel-item-1 {
    background: url('/img/main.jpg');
    background-size: cover;
    background-position: 82% 50%;
}
@media (min-width: 992px) {
    .carousel-item-1 {
        background-position: center bottom;
    }
}

.navbar-ev {
    background-color: #e8decb;
    box-shadow: 0px 0px 5px #999;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    z-index: 999;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
    .navbar-ev {
        background-color: #c4e1ff;
        padding: 10px 0;
        position: sticky;
        top: 0;
        left: auto;
        right: auto;
        margin-top: -1px;
    }
}
.navbar-logo {
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
}
@media (min-width: 992px) {
    .navbar-logo {
        display: none;
    }
}
.navbar-logo img {
    width: 65px;
    margin-right: 5px;
}
.navbar-ev ul {
    width: 100%;
    justify-content: center;
}
.navbar-ev .navbar-nav .nav-link {
    color: #222;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 6px 50px;
    border-left: 0;
    text-align: center;
}
@media (min-width: 992px) {
    .navbar-ev .navbar-nav .nav-link {
        border-left: 1px solid #9fc6f0;
        text-align: left;
    }
}
.navbar-ev .navbar-nav .nav-item:last-child .nav-link {
    border-right: 0;
}
@media (min-width: 992px) {
    .navbar-ev .navbar-nav .nav-item:last-child .nav-link {
        border-right: 1px solid #9fc6f0;
    }
}
.navbar-ev .navbar-nav .nav-link:hover,
.navbar-ev .navbar-nav .nav-link:focus {
    background-color: #ffcc00;
}
.navbar-ev .dropdown-item:focus,
.navbar-ev .dropdown-item:hover {
    background-color: #fc0;
}

header {
    position: absolute;
    top: 60px;
    z-index: 10;
    left: 0;
    right: 0;
}
@media (min-width: 992px) {
    header {
        top: 20px;
    }
}
.header-logo {
    text-align: left;
    text-shadow: 1px 1px 1px #000;
    padding-top: 10px;
    display: none;
}
@media (min-width: 992px) {
    .header-logo {
        display: block;
    }
}
.header-logo a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    line-height: 1.3;
    display: inline-flex;
    align-items: center;
}
.header-logo a img {
    background-color: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 20px;
}
.header-logo a strong {
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-transform: none;
    display: block;
}
.header-tel {
    text-align: center;
}
@media (min-width: 992px) {
    .header-tel {
        text-align: right;
    }
}
.header-tel a {
    display: block;
    text-decoration: none;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
    color: #096fd4;
    text-shadow: 0 0 10px rgba(255,255,255,0.95),
                    0 0 20px rgba(255,255,255,0.95),
                    0 0 30px rgba(255,255,255,0.95),
                    0 0 40px rgba(255,255,255,0.95),
                    0 0 50px rgba(255,255,255,0.95);
}
.header-tel span {
    font-weight: 700;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    color: #5b7b8b;
    text-shadow: none;
}

a.header-telegram {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.7);
    padding: 5px 30px;
    border-radius: 7px;
}
.header-telegram img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.title-header {
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
@media (min-width: 992px) {
    .title-header {
        font-size: 30px;
    }
}

.p1 {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 992px) {
    .p1 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.p2 {
    padding-top: 40px;
    padding-bottom: 40px;
}
@media (min-width: 992px) {
    .p2 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
.btn-primary {
    background-color: #fc0;
    border-color: #fc0;
    color: #222;
    font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #fc0;
    border-color: #fc0;
    color: #096fd4;
}

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.intro {
    background-color: #fff;
}
.intro .title-header {
    margin-bottom: 15px;
}
.free-evacuator-counter {
    border: 3px solid #fc0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
}
.free-evacuator-counter p {
    width: 60%;
    margin: 0;
    text-align: right;
    padding-right: 15px;
    line-height: 1;
}
.free-evacuator-counter p strong {
    display: block;
    margin-top: 5px;
    color: #096fd4;
}
.free-evacuator-counter a {
    width: 40%;
    background-color: #fc0;
    color: #222;
    font-weight: 700;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .title-header {
    margin-bottom: 30px;
    text-align: center;
}
.services-item {
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
    margin-bottom: 25px;
    padding: 20px;
}
.services-item-name {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    height: auto;
    overflow: hidden;
}
@media (min-width: 992px) {
    .services-item-name {
        height: 50px;
        font-size: 19px;
    }
}
.services-item img {
    width: auto;
    height: 170px;
    display: block;
    margin: 0 auto;
}
@media (min-width: 992px) {
    .services-item img {
        height: 200px;
    }
}
.services-item a {
    text-decoration: none;
    color: #222;
}
.services-item span {
    display: block;
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
}
.services-item-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-item-actions a {
    width: 100%;
    color: #222;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
}
@media (min-width: 992px) {
    .services-item-actions a {
        width: calc(50% - 7px);
        padding: 8px 10px;
    }
}
.services-item-actions a:nth-child(1) {
    background-color: #fc0;
    border-color: #fc0;
    font-weight: 700;
    margin-bottom: 5px;
}
@media (min-width: 992px) {
    .services-item-actions a:nth-child(1) {
        margin-bottom: 0;
    }
}
.services-item-actions a:nth-child(2) {
    border-color: #ccc;
}
.services-item-actions a:hover,
.services-item-actions a:focus {
    color: #096fd4;
}

footer {
    background-color: #c4e1ff;
}
footer .title-header {
    margin-bottom: 10px;
}
.footer-left p,
.footer-right p {
    margin-top: 0;
    margin-bottom: 2px;
}
.footer-left p:last-child,
.footer-right p:last-child {
    margin-bottom: 0;
}
.footer-right p a {
    color: #337ab7;
}
.footer-social-icons {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.footer-social-icons li {
    margin-right: 10px;
}
.footer-social-icons li a {
    display: block;
}
.footer-social-icons li a img {
    width: auto;
    height: 40px;
}
.footer-center ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-center ul li a {
    color: #337ab7;
}
.footer-left,
.footer-center {
    margin-bottom: 40px;
}
@media (min-width: 992px) {
    .footer-left,
    .footer-center {
        margin-bottom: 0;
    }
}

.mini-form {
    background: url('/img/bigshortform.jpg');
    background-size: cover;
    background-position: -50% 50%;
    color: #fff;
    text-align: center;
}
@media (min-width: 992px) {
    .mini-form {
        background-position: center center;
        text-align: left;
    }
}
.mini-form-inner {
    margin-left: 0;
}
@media (min-width: 992px) {
    .mini-form-inner {
        margin-left: 50%;
    }
}
.mini-form-inner .title-header {
    margin-bottom: 20px;
}
.mini-form-inner p {
    font-size: 17px;
}
@media (min-width: 992px) {
    .mini-form-inner p {
        font-size: 20px;
    }
}
.mini-form-inner a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    color: #fc0;
    font-weight: bold;
}
.mini-form-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.mini-form-form .form-control {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    width: 100%;
}
@media (min-width: 992px) {
    .mini-form-form .form-control {
        width: 50%;
    }
}
.mini-form-form .btn-primary {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
}
@media (min-width: 992px) {
    .mini-form-form .btn-primary {
        margin-left: 10px;
        margin-top: 0;
        width: auto;
    }
}

.why {
    text-align: center;
    background-color: #e1efff;
}
.why .title-header {
    margin-bottom: 20px;
}
.why p.str strong {
    background-color: #fc0;
    padding: 10px 20px;
    color: #222;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin: 20px 0;
}
.why p:last-child {
    margin-bottom: 0;
}

.main-form .container {
    width: 75%;
}
@media (min-width: 992px) {
    .main-form .container {
        width: 100%;
    }
}
.main-form img {
    width: 250px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
@media (min-width: 992px) {
    .main-form img {
        margin: 0;
    }
}
.formchecks {
    margin: 20px 0;
}
@media (min-width: 992px) {
    .formchecks {
        margin: 0;
    }
}
.main-form .form-check {
    margin-bottom: 10px;
    font-size: 18px;
}
@media (min-width: 992px) {
    .main-form .form-check {
        font-size: 20px;
    }
}
.main-form .form-control {
    border-radius: 0;
    border: 2px solid #fc0;
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 15px;
}
.main-form .btn-primary {
    padding: 10px 30px;
}

.bottom-text {
    background-color: #e1efff;
}
.bottom-text .title-header {
    margin-bottom: 20px;
}
.bottom-text p:last-child {
    margin-bottom: 0;
}

.gallery {
    background-color: #e1efff;
}
.gallery .title-header {
    margin-bottom: 20px;
    text-align: center;
}
.gallery .carousel-cell {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0 5px;
}
@media (min-width: 992px) {
    .gallery .carousel-cell {
        width: 33.3333%;
        height: 300px;
    }
}
.gallery .carousel-cell-image {
    background-size: cover;
    background-position: center center;
    height: 100%;
    border: 6px solid #81b4ec;
}

.advantages {
    background-color: #2466ad;
    color: #fff;
    text-align: center;
}
.advantages .container {
    width: 80%;
}
@media (min-width: 992px) {
    .advantages .container {
        width: 100%;
    }
}
.advantages .title-header {
    margin-bottom: 30px;
}
.advantages-item {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}
@media (min-width: 992px) {
    .advantages-item {
        margin-bottom: 0;
        display: block;
        text-align: center;
    }
}
.advantages .col-12:last-of-type .advantages-item {
    margin-bottom: 0;
}
.advantages p {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    line-height: 1.3;
    padding: 0 10px;
    width: calc(100% - 50px);
}
@media (min-width: 992px) {
    .advantages p {
        width: auto;
    }
}
.advantages p small {
    font-size: 14px;
    margin-top: 6px;
    font-weight: 400;
}
.advantages img {
    width: 45px;
    height: auto;
    display: block;
    margin: 0;
}
@media (min-width: 992px) {
    .advantages img {
        width: auto;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.map .title-header {
    margin-bottom: 30px;
}
.map-map {
    position: relative;
    height: 300px;
    margin-top: 20px;
}
@media (min-width: 992px) {
    .map-map {
        height: 450px;
        margin-top: 0;
    }
}
.map-dop {
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1;
}
@media (min-width: 992px) {
    .map-dop {
        font-size: 20px;
    }
}
.map-dop p {
    margin-bottom: 5px;
}
.map-dop a {
    display: block;
    color: #222;
    text-decoration: none;
}

.faq .title-header {
    margin-bottom: 30px;
}

.page-hero {
    background: url('/img/main.jpg');
    background-size: cover;
    background-position: center bottom;
    padding-top: 90px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
}
@media (min-width: 992px) {
    .page-hero {
        padding: 80px 0;
    }
}
.page-hero:before {
    content: '';
    background-color: rgba(218, 238, 255, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page-hero .title-header {
    font-size: 30px;
    text-transform: none;
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .page-hero .title-header {
        font-size: 50px;
        margin-bottom: 25px;
    }
}
.page-hero .title-header i {
    font-style: normal;
    background-color: #fc0;
}

.page-block {
    background-color: #fff;
}
.page-block.p2 {
    padding-top: 100px;
}
@media (min-width: 992px) {
    .page-block.p2 {
        padding-top: 70px;
    }
}

.page-dop {
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
@media (min-width: 992px) {
    .page-dop {
        font-size: 20px;
        margin-bottom: 30px;
    }
}
.page-dop p {
    margin-bottom: 0;
}
.page-dop a {
    color: #222;
    text-decoration: none;
    margin-left: 6px;
}

.accordion-button {
    font-weight: 700;
}